col2 {
    columns: 2;
    display: block;
    text-align: left;
    width: 120%;
    margin: 0 auto;
}

.tbos-ma-title b {
    letter-spacing: 2px;
}

.tbos-miniadmin.tbos-tcolor {
    border: var(--border2);
    background: var(--bg3);
}

.tbostab-content.tbos-btab-conteo {
    padding: 20px;
}

.tbostiendab i {
    color: var(--accent4) !important;
    font-size: 16px !important;
}

.tbostiendab a {
    color: var(--text1) !important;
}

.tbostiendab {
    background: var(--bg2);
    margin: auto;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    border: var(--border2);
    color: var(--text2);
    text-align: center;
    height: 50px;
}

.tbostab-title span {
    background: var(--bg4);
    width: 100%;
    font-size: 10px;
    font-family: var(--font3);
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 6px;
    border: var(--border1);
}

.tbostab-title {
    background: var(--grad1);
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    font-family: var(--font1);
    text-transform: uppercase;
    font-size: 20px;
    color: var(--text1);
    outline: var(--border1);
    outline-offset: 4px;
    margin-bottom: 15px;
    margin-top: 13px;
}

.tbos-btablilla-admin {
    background: var(--bg3);
    padding: 40px;
    border: var(--border2);
}

.tbos-post {
    padding: 5px;
    width: 80%;
    display: block;
    margin: 0 auto;
    background: var(--newflower) var(--bg3) no-repeat left top / contain;
}

.tbos-ptitle {
    padding: 20px;
    font-family: 'Playfair Display';
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--text2);
    font-style: italic;
    margin: 0 20px;
}

.tbos-ptitle i {
    margin-right: 10px;
    color: var(--groups);
}

.tbos-ptext {
    background: var(--bg4);
    padding: 30px;
    margin: 0 20px;
    font-size: 18px;
    line-height: 1.6em;
}

.tbos-pinfo {
    padding: 10px 30px;
    text-align: right;
    margin: 0 20px;
}

.tbos-pinfo i {
    color: var(--groups);
}

.tbos-post .tbos-ptext strong {
    color: var(--groups);
}

/* Baul */

.tbos-baul {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    background: var(--newflower) no-repeat left top / 100%;

}

.tbos-baul.tbos-indice img {
    width: 100%;
}

.tbos-b-quote,
.tbos-b-title {
    margin: 0;
    padding: 20px;
    background: var(--bg3);
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 18px;
}

.tbos-b-quote i {
    color: var(--groups);
    margin-right: 10px;
}

.tbos-b-colors {
    padding: 10px 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.tbos-b-colors .tcolor {
    font-family: 'Playfair Display';
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
}

.tbos-b-colors br {
    display: none;
}

.tcolor color {
    padding: 20px;
    display: inline-flex;
    border-radius: 100%;
    margin-bottom: 10px;
    background: var(--groups);
}

.tbos-b-title {
    margin-top: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.tbos-b-content {
    padding: 10px;
}

.tbos-b-title i {
    font-size: 3em;
    color: var(--groups);
}

.tbos-b-title b {
    font-size: 1.5em;
}

.tbos-b-title span {
    display: inline-block;
    margin: 10px;
}

.tbos-baul br {
    display: none;
}

.tbos-b-contact {
    padding: 10px;
    border-top: 2px solid var(--groups);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.tbos-b-contact a span {
    color: var(--text2);
    font-family: 'Montserrat';
    font-weight: normal;
    text-transform: capitalize;
}

.tbos-b-contact a i {
    color: var(--groups);
    margin-right: 10px;
}

/* Relaciones */

.tbos-b-pjs.tbos-b-pjs-sd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    flex-direction: row;
    align-content: stretch;
}

.tbosr-personaje {
    display: flex;
    flex-direction: column;
    background: var(--bg2);
    padding: 10px;
    margin: 3px;
    border: 1px solid var(--groups);
    align-content: center;
    flex-wrap: wrap;
    width: 32%;
    justify-content: flex-start;
    align-items: center;
}

.tbosr-personaje img {
    width: 80%;
    border-radius: 100%;
    border: var(--border4);
    margin: 0px 0px 5px;
}

.tbosr-personaje a {
    color: var(--groups) !important;
    font-family: var(--font3);
    letter-spacing: 0px;
}

.tbosr-personaje span {
    font-family: var(--font3);
    font-size: 12px;
}

/* Cronología */

.tbos-c-leyenda {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--groups);
    margin-bottom: 10px;
}

.tbos-c-leyenda div {
    padding: 25px 10px;
    font-family: 'Playfair Display';
    font-style: italic;
}

.tbos-c-leyenda div i {
    margin-right: 10px;
    color: var(--groups);
}

.tbosc-tema {
    padding: 5px;
    font-family: 'Montserrat', Verdana;
    font-size: 18px;
    background: var(--bg3);
    margin: 4px 30px;
}

.tbosc-tema a {
    color: var(--groups) !important;
    padding-right: 10px;
}

.tbost-abierto::before {
    content: "\f3c1";
    font-family: 'Font Awesome 5 Pro';
    margin-right: 10px;
}

.tbost-trama:before {
    content: "\f57e";
    font-family: 'Font Awesome 5 Pro';
    margin-right: 10px;
}

.tbost-cerrado:before {
    content: "\f023";
    font-family: 'Font Awesome 5 Pro';
    margin-right: 10px;
}

.tbost-grupal:before {
    content: "\e594";
    font-family: 'Font Awesome 5 Pro';
    margin-right: 6px;
}

.tbos-b-pjs.tbos-b-pjs-cd {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
}

/* Expedientes */

.tbosr-personaje div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tbosr-personaje div a {
    color: var(--groups) !important;
    font-family: 'Playfair Display';
    font-size: 18px;
    margin-top: 10px;
}

.tbosr-personaje div img {
    width: 100px;
    height: 100px;
}

.tbose-name {
    padding: 20px 10px;
    font-family: Playfair Display;
    font-size: 22px;
    border-bottom: 2px solid var(--groups);
    color: var(--text2);
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
    font-style: italic;
}

.tbose-portada {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px;
}

.tbose-datos {
    width: 63%;
    align-content: space-between;
    align-items: stretch;
    columns: 2;
}

.tbose-portada .tbose-img {
    background: var(--bg3);
    width: 200px;
    height: 200px;
}

.tbose-datos dato {
    border-bottom: 1px solid var(--groups);
    font-size: 12px;
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.tbos-expediente.tbos-baul {
    padding: 30px;
    width: 90%;
    font-size: 1.1em;
    border: none;
    background: var(--newflower) no-repeat;
    border-bottom: 2px solid var(--groups);
}

.tbosb-quote {
    background: var(--bg3);
    padding: 10px 20px;
    font-family: var(--font1);
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.tbosb-quote i {
    color: var(--groups);
    margin-right: 10px;
}

.tbos-expediente.tbos-baul .tbose-title {
    font-family: Playfair Display;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 15px 10px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--groups);
    margin: 10px 0;
    font-style: italic;
    background: var(--grad2);
}

.tbos-expediente.tbos-baul .tbose-texto {
    line-height: 1.6em;
}

.tbos-expediente.tbos-baul .tbose-texto strong {
    color: var(--groups);
}

.tbos-expediente.tbos-baul .tbose-texto i {
    color: var(--groups);
}

.tbos-expediente.tbos-baul .tbose-texto u {
    text-decoration: none;
    border-bottom: 2px solid var(--groups);
}

.tbose-texto.tbosex-datos span {
    background: var(--groups);
    padding: 5px;
    border-radius: 100%;
    font-family: 'Montserrat';
    font-weight: bold;
}

.tbose-texto.tbosex-datos br {
    display: block;
}

.tbose-texto.tbosex-datos {
    columns: 2;
}

.tbose-portada .tbose-img img {
    width: 100%;
}

.tbose-texto br {
    display: block;
}

.tbose-datos .tbosb-quote {
    column-span: all;
}

/* Búsquedas */
.tbs-rol {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--groups);
    background: var(--newflower) no-repeat left top / contain;
}

.tbs-rol .t-columna1 {
    width: 45%;
    padding: 10px 5px;
}

.tbs-rol .tbs-titulo {
    font-family: var(--font1);
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid var(--groups);
    padding: 2px 2px 10px 2px;
}

.tbs-rol .t1-dato {
    display: inline-block;
    text-align: center;
    margin: 0px 5px;
    padding: 5px 10px;
    background: var(--grad2);
}

.tbs-rol .t-imagen {
    width: 100px;
    height: 100px;
    background-color: var(--bg3);
    margin: 0 auto;
    border-radius: 100%;
    border: 2px solid var(--groups);
    background-size: contain;
}

/* Lechucería */

.tbos-baul.tbos-lechuza .tcolor .t-img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

.tbos-baul.tbos-lechuza .tbos-b-colors .tcolor.t-img {
    display: block;
    width: 220px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
    height: 220px;
    border: 2px solid var(--groups);
}

.tbos-baul.tbos-lechuza .tbos-b-colors .tcolor.t-img img {
    border-radius: 100%;
}

.tbos-baul.tbos-lechuza .tbos1-portada {
    display: flex;
}

.tbos-baul.tbos-lechuza .tbosl-portada {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.tbos-baul.tbos-lechuza .tbosl-info {
    display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
    padding: 6%;
    flex-direction: column;
}

.tbos-baul.tbos-lechuza .tbosl-info b {
    font-family: var(--font1);
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    color: var(--text2);
    border-bottom: 2px solid var(--groups);
    width: 100%;
}

.tbos-baul.tbos-lechuza .tbosl-portada img {
    width: 190px;
    height: 190px;
    background: var(--bg4) / cover;
    border: 2px solid var(--groups);
    border-radius: 100%;
    margin: 20px 0;
}

.tbos-baul.tbos-lechuza .tbosl-info span {
    background: var(--bg3);
}

/* Algunas administrativas */

.tbos-baul.tbos-lechuza .tcolor .t-img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

.tbos-baul.tbos-lechuza .tbos-b-colors .tcolor.t-img {
    display: block;
    width: 220px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
    height: 220px;
    border: 2px solid var(--groups);
}

.tbos-baul.tbos-lechuza .tbos-b-colors .tcolor.t-img img {
    border-radius: 100%;
}

.tbos-baul.tbos-lechuza .tbos1-portada {
    display: flex;
}

.tbos-baul.tbos-lechuza .tbosl-portada {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.tbos-baul.tbos-lechuza .tbosl-info {
    display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
    padding: 6%;
    flex-direction: column;
}

.tbos-baul.tbos-lechuza .tbosl-info b {
    font-family: var(--font1);
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    color: var(--text2);
    border-bottom: 2px solid var(--groups);
    width: 100%;
}

.tbos-baul.tbos-lechuza .tbosl-portada img {
    width: 190px;
    height: 190px;
    background: var(--bg4) / cover;
    border: 2px solid var(--groups);
    border-radius: 100%;
    margin: 20px 0;
}

.tbos-baul.tbos-lechuza .tbosl-info span {
    background: var(--bg3);
}

.t-admin {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid var(--groups);
    padding-bottom: 20px;
}

.t-admin .titulo {
    font-family: var(--font1);
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid var(--groups);
    line-height: 2em;
}

.t-admin .subtitulo {
    background: var(--bg3);
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    font: var(--font2);
}

.t-admin span.t-num {
    background: var(--bg3);
    border: 1px solid var(--groups);
    border-radius: 100%;
    padding: 3px;
    margin-right: 10px;
}

.tbos-btablilla-admin .tbostab-subtitle {
    background: var(--bg4);
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}

.tbos-btablilla-admin .tbostab-subtitle i {
    margin-right: 10px;
    color: var(--groups);
}

.tbostab-content.tbos-btab-conteo u {
    background: var(--groups);
    padding: 3px 5px;
    color: var(--text2);
    text-decoration: none;
}

.tbospd-title {
    padding: 15px 20px;
    font-family: var(--font1);
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: normal;
    margin: 5px 20px;
    font-style: italic;
}

.tbospd-title span {
    display: block;
    padding: 5px 0;
    font: var(--font4);
    margin: 2px 0;
    letter-spacing: 0;
}

.tbospd-title i {
    margin-right: 10px;
    color: var(--groups);
}

.tbos-ptext.tbospd-text {
    margin-bottom: 20px;
}

img.tbospd-imagen {
    margin: 20px auto;
    display: block;
    border-radius: 100%;
}

img.tbospd-imagen-b {
    margin: 20px auto;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid var(--groups);
}

.tbosp-resumen {
    border-left: 3px solid var(--groups);
    padding: 10px 20px;
    background: var(--bg2);
}

/* Tablilla de Combate */

.combate-tabla {
    background: var(--newflower) no-repeat left center / contain;
    padding: 20px;
}

h1.combate-titulo {
    font-family: var(--font1);
    font-style: italic;
    color: var(--text2);
    text-align: center;
    border-bottom: 1px solid var(--groups);
    margin-bottom: 10px;
}

.combate-principal {
    padding: 20px;
}

.combate-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 10px;
}

.combate-stats .stats-box {
    text-align: center;
    background: var(--bg4);
    padding: 10px 30px;
    width: 15%;
}

.combate-dados {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 10px;
    flex-wrap: wrap;
}

.combate-dados .combate-row {
    width: 49%;
    padding: 20px;
    background: var(--bg4);
}

.combate-hechizo,
.combate-hechizo-2 {
    padding: 20px;
    background: var(--bg4);
    margin: 0 15px;
}

h2.combatehechizo-titulo {
    font-family: var(--font1);
    color: var(--text2);
    font-style: italic;
    margin-bottom: 5px;
}

.combate-row.extra {
    display: block;
    background: var(--groups);
    width: 100%;
    height: 1px;
    padding: 0;
}

.combate-row div {
    border-bottom: 1px solid var(--groups);
    padding: 2px 0;
}

p.combatehechizo-desc {
    max-height: 200px;
    overflow: auto;
}

/* Nuevas Baul */

.tbos-truck {
    padding: 5px;
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center;
    background: var(--newflower) no-repeat left top / contain;
}

/* Cámara */

.tbos-baul.tbos-cronologia .tbos-c-temas b-stats n {
    background: transparent;
    margin: 10px;
    width: 100px;
}

.tbos-baul.tbos-cronologia .tbos-c-temas b-stats {
    display: flex;
    align-content: stretch;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
}

h-nivel {
    display: block;
    background: var(--groups);
    padding: 4px;
    font-weight: bold;
}

hechizos div strong {
    display: block;
    margin-top: 10px;
}

/* Post Cellphone Friendly*/
post {
    display: block;
    width: 80%;
    margin: 0 auto;
    line-height: 1.7em;
}

post b,
post strong,
post i,
post em {
    color: var(--groups);
}

post h2.post-content {
    font-family: Cambria, serif;
    letter-spacing: -1px;
    color: var(--text2);
    text-align: right;
}

post h3.post-content {
    font-family: Cambria, serif;
    border: none;
    letter-spacing: -1px;
    font-style: italic;
    border-left: 10px solid var(--groups);
    padding-left: 10px;
}

post blockquote {
    margin: 20px 0;
    font-size: 16px;
}

post h4.post-content {
    font-family: Cambria, serif;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-bottom: 1px solid var(--groups);
    font-style: italic;
}

post hr {
    border-top: 1px solid var(--groups);
    margin: 20px;
    padding: 0;
}

/* Extra Profile */

.k-physc-desc strong,
.k-physc-desc i {
    color: var(--groups);
}

/* Formulario de Tienda */

formulario {
    display: flex;
    width: 80%;
    background: var(--bg2);
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

formulario item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--accent1);
    padding: 3px 0;
}

precio-total-galeones:before {
    content: 'Total en galeones';
    margin-right: 20px;
}

precio-total-galeones {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

precio-total-experiencia:before {
    content: 'Total en experiencia';
    margin-right: 20px;
}

precio-total-experiencia {
    display: flex;
    justify-content: space-between;
}

formulario item b span {
    color: var(--accent1);
    font-size: 90%;
}

/* Cámara Nueva */

camara {
    width: 80%;
    margin: 0 auto;
    background: var(--bg4);
    border: var(--border2);
    padding: 30px 20px;
    text-align: center;
    display:block;
}

c-title {
    width: 100%;
    font: 40px Qestero;
    display: block;
}

.camara-personaje {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.camara-personaje b-stats {
    display: flex;
    margin: 0;
    width: 100%;
    gap: 1px;
    justify-content: space-evenly;
}

.camara-personaje b-stats n {
    width: 135px;
    height: auto;
    padding: 10px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid var(--groups) !important;
    background: var(--bg4) !important;
    width: 30% !important;
}

.camara-personaje b-stats n num {
    font-size: 12px;
}

.camara-personaje b-stats n:before {
    display: none;
}

.camara-personaje b-info {
    display: block;
}

.camara-personaje b-info n,
.camara-personaje b-stats n {
    width: 25%;
    display: inline-block;
    margin: 8px;
    font-family: 'Montserrat';
    color: var(--groups);
    padding: 10px;
    height: auto;
    background: none;
    border: none;
    border-bottom: 2px solid var(--groups);
}

.camara-personaje b-info n:before {
    display: none;
}

.camara-personaje b-info n num {
    display: block;
    color: white;
    margin: 0;
    padding: 0;
}

.camara-personaje b-subt {
    display: block;
    width: 100%;
    background: var(--bg2);
    padding: 10px;
    margin-bottom: 10px;
    font-family: var(--font1);
    text-transform: uppercase;
    font-weight: bold;
}

.camara-personaje b-stats n num {
    color: white;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: var(--font1);
}