/* post rol otro */
.tbs-rol {
    width: 530px;
    margin: 10px auto;
    background: var(--background-stema);
    border: 15px solid var(--background-stema);
    outline: var(--border-stema);
    outline-offset: -15px;
    padding: 30px;
    text-align: justify;
}

.tbs-rol .titulo {
    gap: 20px;
    border-bottom: var(--border-stema);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    background: var(--bckg);
    padding: 0 30px;
    color: var(--accent);
}

.tbos-ptitle i {
    font-size: var(--fntsize-cat);
}

.tbos-ptitle b {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.datos1 {
    margin: 23px 0 0;
    border-top: 0;
    height: 35px;
    background: var(--accent);
    text-transform: uppercase;
    font-size: var(--fntsize-mini);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
    border: var(--border-stema);
}

.datos1 a:hover {
    color: #fff;
}

.datos1,
.datos1 a,
.datos1 i {
    color: #fff;
}

.tbs-rol .titulo>span>i {
    color: var(--accent);
    padding: 0 3px;
}

.tbs-rol .titulo>span {
    text-transform: uppercase;
    font-size: var(--fntsize-mini);
}

.tbs-rol .titulo>b {
    text-transform: uppercase;
    font-family: var(--fnt-title);
    font-weight: 900;
    font-size: var(--fntsize-sub);
    color: var(--accent);
}

.tbs-rol .titulo>i {
    position: absolute;
    left: 0;
    font-size: calc(var(--fntsize-cat)*1.4);
    color: var(--accent);
}

.tbs-rol .titulo {
    margin: 25px 25px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 50px;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10px;
}

.tbs-rol .titulo {
    margin-bottom: 23px;
}

.t-admin {
    font-size: calc(var(--fntsize-nrm)*1.06);
    background: var(--background-stema);
    max-width: 700px;
    margin: 10px auto;
    backdrop-filter: blur(4px);
    box-shadow: 5px 5px 10px var(--prin-bckg);
    border: 15px solid var(--background-stema);
    outline: var(--border-opacity);
    outline-offset: -15px;
    padding: 30px;
    text-align: justify;
}

.t-admin .titulo {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: var(--border-opacity);
    height: 80px;
    background: var(--bckg);
    padding: 10px 40px;
    box-sizing: border-box;
    font-family: var(--fnt-title);
    font-size: var(--fntsize-cat);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--accent-foro);
}

.t-admin .subtitulo {
    text-transform: uppercase;
    font-size: var(--fntsize-mini);
    letter-spacing: 1px;
}

.t-seccion {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-left: 5px solid var(--accent-foro);
    padding-left: 30px;
    margin: 25px 0;
    font-style: italic;
    font-size: var(--fntsize-nrm);
    background: var(--accent-foro);
    color: #fff;
    padding: 2px 5px;
    position: relative;
    top: -2px;
}

.t-num {
    font-weight: 900;
    color: var(--accent-foro);
    padding-left: 20px;
    padding-right: 20px;
}


/* Tabillas Noticias */

.tbos-important {
    border-radius: 0;
    border-width: 5px;
    border-style: double;
    padding: 10px;
    background: #ded5b2;
}

/* TBOS Encuesta */

.panel.tbos-poll {
    background: var(--bckg-nav);
    margin: 0 auto;
    padding: 10px 30px;
}

.tbos-poll fieldset.polls dl {
    border-top: none;
    border-bottom: var(--border-stema);
    padding: 5px;
}

.panel.tbos-poll>.inner>.content>h2.left-box.h3,
.panel.tbos-poll>.inner>.content>h2.left-box {
    font-family: var(--fnt-nrm);
    margin-top: 10px;
    border-bottom: 2px solid var(--accent);
    font-weight: normal !important;
    text-transform: none;
    font-size: var(--fntsize-sub);
    width: 80% !important;
}

.poster-list .poster:before {
    border: none;
}

.forumtitle i {
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 230%;
    color: var(--accent);
    font-weight: 900;
}

div#tbos-p-spells,
div#tbos-p-skills {
    padding: 10px;
}

.pj-spells,
.pj-skills {
    color: var(--color-two);
    max-height: 210px;
    overflow: overlay;
}

a.h-spells {
    color: var(--color-two);
    margin: 20px;
    font-size: .9em;
    border-bottom: 1px solid var(--accent);
}

.pj-spells h2.post-content,
.pj-skills h2.post-content {
    color: var(--color-two);
    border-bottom: 3px solid var(--accent);
    text-align: center;
    font-family: var(--fnt-title);
}

.pj-spells .hechizos strong {
    color: var(--color-two);
    background: var(--accent);
    display: block;
    padding: 2px 5px;
    font-size: 12px;
}

.tbos-p-dato.hechizos,
.tbos-p-dato.habilidades {
    background: transparent;
    columns: 3;
    display: block;
}

.pj-spells .hechizos i {
    color: var(--color-two);
    padding: 2px;
    margin: 0px 5px 5px;
    display: inline-block;
}

.pj-spells .hechizos .field_uneditable i::before {
    content: '\e5d6';
    font-family: 'FontAwesome';
    margin-right: 5px;
    color: var(--accent);
}

.pj-spells .hechizos br {
    display: none;
}

span#rpg-habilidades h2 {
    font-family: var(--fnt-title);
    font-size: var(--fntsize-sub);
    margin: 10px 2px;
}

.hab-gen, .hab-mag {
    border: 1px solid var(--accent);
    padding: 10px 20px;
    text-align: left;
    column-count: inherit;
}

.pj-skills label, .pj-skills progress {display: inline-block;}

span#rpg-habilidades {
    column-count: 2;
}

.pj-skills label {
    width: 32%;
}

.pj-skills progress {
    align-items: flex-end;
    text-align: end;
  width: 40%;
  height: 10px;
  border-radius: 50px;
  background-color: #ccc; /* Fondo gris */
  appearance: none;
  border: 1px solid var(--accent);
}

/* Webkit (Chrome, Safari, Edge) */
.pj-skills progress::-webkit-progress-bar {
  background-color: #ccc; /* Fondo gris */
  border-radius: 10px;
}

.pj-skills progress::-webkit-progress-value {
  background-color: var(--accent); /* Color de la barra */
  border-radius: 0;
}

/* Firefox */
.pj-skills progress::-moz-progress-bar {
  background-color: var(--accent); /* Color de la barra */
  border-radius: 0;
}
